<div class="tab-panel">


    {% if benefit %}
    <div class="mini-table">
        <div class="mini-row"><span>必要株数</span><span>{{ benefit.min_shares }} 株</span></div>
        <div class="mini-row"><span>優待内容</span><span>{{ benefit.content }}</span></div>
        <div class="mini-row"><span>贈呈時期</span><span>{{ benefit.months }}</span></div>
        <div class="mini-row"><span>備考</span><span>{{ benefit.note }}</span></div>
    </div>
    {% else %}
    <p class="muted">株主優待情報はありません。</p>
    {% endif %}
</div>